mixin list(list_class, array, helper_class)
	//- Create UL
	ul(class=list_class+" "+helper_class )
		//- go to all element in array
		each item, i in array.massElem
			//- if ISSET additional class in code add it
			if item.additional_class 
				li(class=list_class+"_item"+" "+item.additional_class )
					//-  go to next mixin
					+list_item_add_img_before(list_class, item, array)
			else
				li(class=list_class+"_item" )
					//-  go to next mixin
					+list_item_add_img_before(list_class, item, array)

mixin list_item_add_img_before(list_class, item, array)
	//- check is it have an image 
	if item.src 
		//- add img tag
		a(class=list_class+"_item_link" href="#")
			.va
				img(src="#{item.src}" alt="")
			//- go to next mixin
			+list_item_li(list_class, item, array)
	else
		//- go to next mixin
		+list_item_li(list_class, item, array)
//- 
mixin list_item_li(list_class, item, array)
	//- check if it need link for one menu item oк all item 
	if !array.config.no_link && !item.no_link
		//- mixin for check to submenu
		+list_item_submenu_check(list_class, item, array)
	else
		+list_item(item)

mixin list_item_submenu_check (list_class, item, array)
	//- if need link for one menu item
	if !item.submenu
		//- add link 
		a(class=list_class+"_item_link" href="#")
			+list_item(item)
	else
		a(class=list_class+"_item_link" href="#")
			+list_item(item)
		+list(item.submenu_class, item.submenu, "")

mixin list_item (item)
	//- add span for next words in item with class by key
	if item.val == "[object Object]"
		each item_item, i in item.val
			//- add span with class
			if i != "inval1"
				span(class=i) #{item_item} 
			else
				| #{item_item} 
	else
		| #{item.val}

