mixin table (table_class, table_array, table_class_helper)
	table(class=table_class+" "+table_class_helper)
		each item, i in table_array.massElem 
			//- check if it isset head of table
			case i
				when "thead"
					thead(class=table_class+"_heading")
						+table_tr(table_class, item)
				when "tfoot"
					tfoot
						thead(class=table_class+"_footer")
						+table_tr(table_class, item)
				default
					tbody
						each item_deep, i in item
							+table_tr(table_class, item_deep, i)
//- create rows
mixin table_tr(table_class, item_array, key)
	tr(class=table_class+"_row")
		+table_td(table_class, item_array, key)
//- create cell
mixin table_td(table_class, item_array, key)
	each item, i in item_array.values 
		td(class=table_class+"_cell "+table_class+"_"+i)
			+check_for_object(table_class, item, i)
//- checks an element on object
mixin check_for_object (table_class, item, key)
	if item != "[object Object]"
		//- if it is NOT object go create element
		+table_item(table_class, item, key)
	else
		+check_for_child(table_class, item, key)

mixin check_for_child (table_class, item, key)
	//- if it is object check is it need additional class
	if key.indexOf("add_child") != -1
		//- if it is need additional class create span with it
		span(class="#{item.additional_class}") #{item.val}
	else
		+check_for_link(table_class, item, key)

mixin check_for_link (table_class, item, key)
	if key.indexOf("link") != -1
		a(class="#{item.additional_class}" href="#") #{item.val}
	else
		//- if element object run recursion
		each item_deep, i in item
			+check_for_object(table_class, item_deep, i)

//- ДАЛЬШЕ ИДЕТ ТРЕШ ТРЕБУЕТСЯ ПЕРЕРАБОТКА-ДОРАБОТКА
mixin table_item (table_class, item, key)
	if item.indexOf(".png") != -1 || item.indexOf(".jpg") != -1 || item.indexOf(".gif") != -1
		if key.indexOf("no_link") != -1
			img(src="#{item}" class="#{table_class}_item_img")
		else
			a(href="#" class="#{table_class}"+"_ico")
				img(src="#{item}" class="#{table_class}_item_img")
	else 
		if key.indexOf("input") != -1
			input(type=item)
		else
			|#{item}
